/* CSS Document */

body{margin:0px; background-image:url('images/bodyBG.gif')}

h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:15px;  font-weight:normal; color:#FFFFFF; text-decoration:none;
	margin:0px 1px;
	text-shadow: 2px 2px 2px #000;
}

hr
{
	border: 1px dotted #00FFFF; border-style: none none dotted;
	margin:2px 1px;
}

td {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#333333; text-decoration:none;}

.input{font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#333333; text-decoration:none;}

.barBrd{border-top:1px solid #ffffff; border-bottom:1px solid #ffffff;}

.whiteBrdImg{border:1px solid #ffffff; padding:1px;}

.yellowBrdImg{border:1px solid #F9FFCF; padding:1px;}

.yellowtxt {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#F9FFCF; text-decoration:none;}

.whitetxt {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#Ffffff; text-decoration:none;}

.yellowlink:link {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#F9FFCF; text-decoration:underline;}
.yellowlink:visited  {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#F9FFCF; text-decoration:underline;}
.yellowlink:hover{font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#F9FFCF; text-decoration:none;}

.yellow1link:link {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px;  font-weight:bold; color:#F9FFCF; text-decoration:none;}
.yellow1link:visited  {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#F9FFCF; text-decoration:none;}
.yellow1link:hover{font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#F9FFCF; text-decoration:none;}

.whitelink:link {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff; text-decoration:none;}
.whitelink:visited  {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff; text-decoration:none;}
.whitelink:hover{font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff; text-decoration:underline;}

.help:link {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#333333; text-decoration:none;}
.help:visited  {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#333333; text-decoration:none;}
.help:hover{font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#333333; text-decoration:underline;}

.bot:link {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff; text-decoration:none;}
.bot:visited  {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff; text-decoration:none;}
.bot:hover{font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff; text-decoration:underline;}

.h1 {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;  font-weight:bold; color:#333333; text-decoration:none; }

.quote {
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;  font-weight:bold; color:#333333; text-decoration:none;
}
.story {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

img
{  border-style: none;
}

.style3 {font-family: Arial, Helvetica, sans-serif; font-size: x-small; color: #FF0000; font-weight: bold; }
.style4 {font-family: Arial, Helvetica, sans-serif; font-size: small; color: #FF0000; font-weight: bold; }
		
#redcontent h1 {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;  font-weight:bold; color:#F9FFCF; text-decoration:none; }

#storyMeta p {color: gray;}
#storyMeta a {color: gray;}

#tweetList
{
	background: #fff;
	border-collapse: collapse;
	text-align: left;
}
#tweetList td
{
	border-bottom: 1px solid #F0B2B2;
	padding: 6px 8px;
}

#storyTable a
{
	color: #B20000;
}

#tagTable a
{
	color: #B20000;
}

#storyListDiv
{
	color:#FFFFFF;
	text-decoration: none;
}

#storyListElement
{
	height: 72px;
	cursor:pointer;
}

#storyListElement:hover
{
	background-color:FFFFFF;
}

#storyListDiv hr
{
	border: 1px dotted #00FFFF; border-style: none none dotted;
	margin:5px 1px;
}

#storyListDiv img
{
	display:inline;margin:0px 2px;float:left;
}

#storyListDiv a
{
	text-decoration: none;
	color:#F9FFCF;
}

#storyListDiv h2
{
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#F9FFCF; text-decoration:none;
	margin:3px 2px;
}


#homeTweetsDiv
{
	color:#F9FFCF;
	background-color: #434945;
	margin:0px 2px;
}

#homeTweetsDiv h1
{
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:15px;  font-weight:normal; color:#FFFFFF; text-decoration:none;
	margin:0px 6px 4px 6px;
	text-shadow: 2px 2px 2px #000;
}

#homeTweetsContentDiv
{
	height:415px;
	overflow: hidden;
	margin:2px 2px;
}

#homeTweetsDiv hr
{
	border: 1px dotted #00FFFF; border-style: none none dotted;
	margin:14px 1px 1px;
}

#homeTagCloud
{
	margin:2px 2px;
}